---
swagger: "2.0"
info:
  description: "RESTful Math-as-a-service - a Klaviyo project"
  version: "1.0.0"
  title: "RESTful Math-as-a-service"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "www.math-as-a-service.com"
basePath: "/v1"
tags:
- name: "expression"
  description: "Algebraic expression"
- name: "operand"
  description: "A value used as the operand within an expression"
- name: "operator"
  description: "An operator used within an expression"
- name: "evaluation"
  description: "Begins execution of an expression"
- name: "result"
  description: "Retrieves result of an evaluated expression"
schemes:
- "https"
paths:
  /expression:
    post:
      tags:
      - "expression"
      summary: "Create an empty expression"
      description: "Creates an empty expression"
      operationId: "add_expression"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.expression_controller"
  /expression/{expression_id}:
    get:
      tags:
      - "expression"
      summary: "Retrieve expression object"
      description: "Retrieve expression object"
      operationId: "get_expression"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "expression_id"
        in: "path"
        description: "ID of expression to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.expression_controller"
    put:
      tags:
      - "expression"
      summary: "Update expression object"
      description: "Update expression object"
      operationId: "put_expression"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "expression_id"
        in: "path"
        description: "ID of expression to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.expression_controller"
    delete:
      tags:
      - "expression"
      summary: "Delete expression object"
      description: "Delete expression object"
      operationId: "delete_expression"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "expression_id"
        in: "path"
        description: "ID of expression to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.expression_controller"
  /operand:
    post:
      tags:
      - "operand"
      summary: "Create an operand"
      description: "Creates an operand"
      operationId: "add_operand"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.operand_controller"
  /operand/{operand_id}:
    get:
      tags:
      - "operand"
      summary: "Retrieve operand object"
      description: "Retrieve operand object"
      operationId: "get_operand"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "operand_id"
        in: "path"
        description: "ID of operand to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.operand_controller"
    put:
      tags:
      - "operand"
      summary: "Update operand object"
      description: "Update operand object"
      operationId: "put_operand"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "operand_id"
        in: "path"
        description: "ID of operand to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.operand_controller"
    delete:
      tags:
      - "operand"
      summary: "Delete operand object"
      description: "Delete operand object"
      operationId: "delete_operand"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "operand_id"
        in: "path"
        description: "ID of operand to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.operand_controller"
  /operator:
    post:
      tags:
      - "operator"
      summary: "Create an operator"
      description: "Creates an operator"
      operationId: "add_operator"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.operator_controller"
  /operator/{operator_id}:
    get:
      tags:
      - "operator"
      summary: "Retrieve operator object"
      description: "Retrieve operator object"
      operationId: "get_operator"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "operator_id"
        in: "path"
        description: "ID of operator to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.operator_controller"
    put:
      tags:
      - "operator"
      summary: "Update operator object"
      description: "Update operator object"
      operationId: "put_operator"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "operator_id"
        in: "path"
        description: "ID of operator to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.operator_controller"
    delete:
      tags:
      - "operator"
      summary: "Delete operator object"
      description: "Delete operator object"
      operationId: "delete_operator"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "operator_id"
        in: "path"
        description: "ID of operator to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.operator_controller"
  /evaluation:
    post:
      tags:
      - "evaluation"
      summary: "Begin evaluation of an expression"
      description: "Begin evaluation of an expression"
      operationId: "add_evaluation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.evaluation_controller"
  /evaluation/{evaluation_id}:
    get:
      tags:
      - "evaluation"
      summary: "Poll for result of an evaluation"
      description: "Poll for result of an evaluation"
      operationId: "get_evaluation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "evaluation_id"
        in: "path"
        description: "ID of evaluation to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.evaluation_controller"
  /result:
    get:
      tags:
      - "result"
      summary: "Poll for result of an evaluation"
      description: "Poll for result of an evaluation"
      operationId: "get_result"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        503:
          description: "Service unavailable"
      security:
      - api_key: []
      x-swagger-router-controller: "swagger_server.controllers.result_controller"
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Expression:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      created:
        type: "string"
        format: "date-time"
      updated:
        type: "string"
        format: "date-time"
  Operand:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      expression_id:
        type: "integer"
        format: "int64"
      rank:
        type: "integer"
        format: "int"
      value:
        type: "string"
      type:
        type: "integer"
  Operator:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      expression_id:
        type: "integer"
        format: "int64"
      rank:
        type: "integer"
        format: "int"
      value:
        type: "string"
      type:
        type: "integer"
  Evaluation:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      expression_id:
        type: "integer"
        format: "int64"
      result_id:
        type: "integer"
        format: "int64"
      status:
        type: "integer"
  ValueType:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int"
      label:
        type: "string"
  EvaluationStatus:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int"
      label:
        type: "string"
  Result:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int"
      value:
        type: "string"
      type:
        type: "integer"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
